src/main/mule/assignment-salesforce-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
    <http:listener-config name="assignment-salesforce-system-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${https.port}" protocol="HTTPS">
			<tls:context >
				<tls:key-store type="jks" path="${jks.path}" alias="${jks.alias}" keyPassword="${jks.password}" password="${jks.password}" />
			</tls:context>
		</http:listener-connection>
    </http:listener-config>
    <apikit:config name="assignment-salesforce-system-api-config" api="resource::3583f684-5008-42d9-a5db-bb2debac9772:assignment-salesforce-sapi:5.0.0:raml:zip:assignment-salesforce-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="f2a9261e-4daa-439b-9feb-343d5b79f212" escapeSpecialCharactersForParametersValue="false" config-ref="Salesforce_Config" salesforce-query="SELECT Name, Active__c, Phone, AccountNumber, Id FROM Account" targetValue="#[payload]">
        <salesforce:basic-connection username="${sf.user}" password="${sf.password}" securityToken="${sf.st}" />
    </salesforce:sfdc-config>
    <flow name="assignment-salesforce-system-api-main">
        <http:listener config-ref="assignment-salesforce-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="assignment-salesforce-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\accounts:assignment-salesforce-system-api-config">
        <salesforce:query doc:name="Query" doc:id="f2a9261e-4daa-439b-9feb-343d5b79f212" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Name, Active__c, Phone, AccountNumber, Id FROM Account]]></salesforce:salesforce-query>
        </salesforce:query>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\accounts:application\json:assignment-salesforce-system-api-config">
        <salesforce:create type="Account" doc:name="Create" doc:id="6aa23fce-d1fe-4a22-a725-f59f8d60d9fa" config-ref="Salesforce_Config" />
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\accounts\(id):assignment-salesforce-system-api-config">
        <ee:transform doc:name="Transform Message" doc:id="d305af5e-e5cb-4e43-8593-bc92795e0e9c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	id: attributes.uriParams.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="e624c0d7-28a5-42dc-9c50-1cf52008f5ed" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[[payload.id]]]]></salesforce:ids>
        </salesforce:delete>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\accounts\(id):application\json:assignment-salesforce-system-api-config">
		<ee:transform doc:name="Transform Message2" doc:id="4352d04a-35ef-4a60-ab8f-2287efcc54e8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	id: attributes.uriParams.id,
	Id__c: payload[0].Id__c,
	Name: payload[0].Name,
	Active__c: payload[0].Active__c,
	Phone: payload[0].Phone,
	AccountNumber: payload[0].AccountNumber
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update doc:name="Update" doc:id="f30c5c63-25ba-4367-af05-8a45dcb3b31e" config-ref="Salesforce_Config" type="Account">
			<salesforce:records ><![CDATA[#[[payload]]]]></salesforce:records>
		</salesforce:update>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <!-- [STUDIO:"get:\accounts\(id):assignment-salesforce-system-api-config"]<flow name="get:\accounts\(id):assignment-salesforce-system-api-config">
        <ee:transform doc:name="Transform Message1" doc:id="88c6d1a0-6dad-4457-a282-a9e2231c24e7">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
{
	id: attributes.uriParams.id
}&#93;&#93;></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:retrieve type="Account" doc:name="Retrieve" doc:id="8b6caa9d-2b6f-4630-9f57-71981d0d6175" config-ref="Salesforce_Config">
			<salesforce:retrieve-request ><![CDATA[#[[payload.id&#93;&#93;&#93;&#93;></salesforce:retrieve-request>
		</salesforce:retrieve>
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
&#45;&#45;-
[payload&#93;&#93;&#93;></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow> [STUDIO] -->
</mule>
